{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "newline-per-chained-call": "off",
    "no-console": "off",
    "func-names": "off"
  }
}